<footer class="site-footer">
  <div class="wrapper">
    <nav class="footer-nav">
      <ul class="footer-links" style="list-style: none; padding-left: 0;">
        <li style="display: inline; margin-right: 15px;"><a href="{{ '/' | relative_url }}">Home</a></li>
        <li style="display: inline; margin-right: 15px;"><a href="{{ '/about' | relative_url }}">About</a></li>
        <li style="display: inline; margin-right: 15px;"><a href="{{ '/blog' | relative_url }}">Knowledge Base</a></li>
        <li style="display: inline;"><a href="{{ '/contact' | relative_url }}">Contact</a></li>
      </ul>
    </nav>
    <p style="margin-top: 10px;">© 2025 Presidoe Okuguni | All rights reserved</p>
  </div>
</footer>
